* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
}

.card {
  height: 400px;
  width: 300px;
  border-radius: 30px;
  background-color: white;
  margin: 40px;
}