* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}

.parent {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  border: 2px solid whitesmoke;
  width: 400px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  background-color: #333;
}

.card p {
  margin: 20px 0;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 35%;
}